<div class="media feature" data-id="{{feature.id}}">
	<a class="pull-left">
		<img class="media-object" {{bind-attr src=feature.image}}/>
	</a>
	<div class="media-body">
		<h4 class="media-heading">{{feature.title}}</h4>
		<p>{{feature.body}}</p>
	</div>
</div>