/* Put your CSS here */
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css');
body {                 
	padding: 10px 25px;
}
.jumbotron {
	text-transform: lowercase;
	text-align: center;
}
.jumbotron img {
	margin: 15px auto;
}
.post img {
	width: 55px;
}