<legend>
	Edit Post
</legend>
<p>
	{{input type="text"  class="form-control" value=title}}
</p>
<p>
	{{input type="text" class="form-control" value=image}}
</p>
<p>
	{{textarea rows="10" class="form-control" value=body}}
</p>
<button {{action 'save'}}>
	Update
</button>
