<div id="app" class="container">
	<header class="header">
		<ul class="nav nav-pills pull-right">
			<li class="active">
				<a href="#/">Home</a>
			</li>
			<li>
				<a href="#/about">About</a>
			</li>
		</ul>
		<h3 class="brand text-muted">yo-ember</h3>
		<hr />
	</header>
	<div class="jumbotron">
		<h1>'yo-ember'</h1>
		<img src="https://dl.dropboxusercontent.com/u/26906414/cdn/img/learning-yeoman/yo-ember.png" class="img-" />
	</div>
	<div id="pages" class="pages">
		<ul class="list-group">
			{{#each item in controller}}
			<li class="list-group-item">
				{{item}}
			</li>
			{{/each}}
		</ul>
		{{outlet}}
	</div>
	<footer class="footer">
		<hr />
		<p>
			© 2014
		</p>
	</footer>
</div>
