<div id="app" class="container">
	<header class="header">
		<ul class="nav nav-pills pull-right">
			<li class="active">
				<a href="#/">Home</a>
			</li>
			<li>
				<a href="#/posts">Posts</a>
			</li>
		</ul>
		<h3 class="brand text-muted">yo-ember</h3>
		<hr />
	</header>
	{{outlet}}
	<footer class="footer">
		<hr />
		<p>
			© 2014
		</p>
	</footer>
</div>
