<div class="jumbotron">
	<h1>Chapter 5</h1>
	<h3>
		My Ember Project
	</h3>
	<img src="https://dl.dropboxusercontent.com/u/26906414/cdn/img/learning-yeoman/yo-ember.png" class="img-" />
	<p class="lead">
		A starting point for a modern EmberJS application.
	</p>
</div>
<div id="pages" class="pages"></div>