<div class="jumbotron">
	<h1> {{ LearningYeomanCh5.feature.title }} </h1>
	<img {{ bind-attr src=LearningYeomanCh5.config.feature.image }}/>
	<p class="lead">
		{{ LearningYeomanCh5.config.feature.body }}
	</p>
</div>
<div class="features">
	{{#each item in LearningYeomanCh5.config.features }}
		{{ feature-item feature=item }}
	{{/each}}
</div>