<div class="jumbotron">
	<h1>'yo-ember'</h1>
	<img src="https://dl.dropboxusercontent.com/u/26906414/cdn/img/learning-yeoman/yo-ember.png" class="img-" />
</div>
<div id="pages" class="pages">
	
</div>