<div id="post-details">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				{{#link-to 'post.edit' model classNames='btn btn-default btn-edit pull-right'}}Edit{{/link-to}}
				<h1>{{model.title}}</h1>
			</div>
			<img class="img-thumbnail pull-right"  {{bind-attr src=model.image}}/>

				{{format-markdown model.body}}

		</div>
	</div>
</div>
{{outlet}}